* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

#calc {
  width: 400px;
  padding: 0.5rem;
  background-color: #c4c4c4;
  color: #000;
  display: flex;
  flex-direction: column;
}

#calc h3 {
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}

#operations {
  text-align: right;
}

#previous-operation,
#current-operation {
  padding: 0.2em;
  min-height: 3.6rem;
  overflow-wrap: break-word;
}

#previous-operation {
    color:#777;
}

#current-operation{
    font-size: 3em;
    font-weight: 700;
}

#button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3px;
}

#button-container button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    transition: .5s;
}

#button-container .number{
    background-color: #f3f3f3;
}

#button-container button:hover{
    background-color: #bababa;
    border-color: #999;
}

#button-container #equal-btn{
    grid-column: span 2;
    background-color: #75a5cb;
    transition: .5s;
}

#button-container #equal-btn:hover{
    background-color:#3a91d8;
}